body{
    background-image:url(river\ y\ boca.jpeg);
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{color: #000;}